.dfgdfvsdfsdfsdf {
  width: 100%;
}

.gdfgdf215 {
  width: 100%;
  height: 600px;
}

.gdfgdf215 img {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}

.lvjhfbvdf558 {
  width: 100%;
  height: 600px;
}

.jdfhbtn {
  width: 100%;
  height: 50px;
  background-color: #fff;
  border: none;
  margin-top: 15px;
  border: 2px solid white;
  font-weight: 700;
}

.jdfhbtn:hover {
  background: transparent;
  color: white;
}

.dfbfbhgfdg {
  padding: 0 20px;
}

.jhsbfsdf {
  text-align: center;
  padding-top: 160px;
}

.jhsbfsdf h6 {
  color: #fff;
  font-weight: 600;
}

.jhsbfsdf h2 {
  color: #fff;
  padding-top: 8px;
  font-weight: 700;
  font-size: 60px;
}

.jhsbfsdf p {
  color: #fff;
  padding-top: 10px;
}

.jdfgdfg65dfdf {
  padding: 25px 0;
  background-color: #f9e4d6;
}

.dfkhgdfgdf {
  text-align: center;
}

.dfkhgdfgdf h2 {
  color: black;
  font-size: 27px !important;
  font-weight: 700;
}

.dfkhgdfgdf p {
  color: black;
  margin-bottom: 0;
}

.sdhgdfg {
  width: 100%;
  height: 35px;
}

.sdhgdfg img {
  width: 100%;
  height: 100%;
}

.fbgvdsdfd6568 {
  width: 100%;
  padding: 40px 0;
}

.cfgncfgb h4 {
  color: black;
  font-size: 20px !important;
  font-weight: 700;
  padding-top: 5px;
}

.dfnghfd {
  border-right: 2px solid #000;
}

.dfndfjhdfgdf {
  width: 100%;
  padding: 40px 0;
}

.dfhdfgd464 h4 {
  font-size: 30px;
  font-weight: 600;
}

.fgjdfgf3298 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.dfhdfg {
  width: 100%;
  transition: 0.3s ease-in-out;
}
.dfhdfg:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transition: 0.3s ease-in-out;
}
.dfhdfg:hover h4 {
  text-decoration: underline;
}

.dfgh {
  width: 170px;
}

.dfgh img {
  width: 100%;
  height: 100%;
  padding-top: 5px;
  padding-left: 5px;
}

.fbsdsdf h4 {
  font-size: 20px;
}

.dfhdfgd464 {
  text-align: center;
}

.dfhdfgd464 h2 {
  color: #000;
  font-size: 27px;
  font-weight: 700;
  padding-bottom: 20px;
}

.fhdfgdf {
  width: 100%;
  height: 650px;
}

.fhdfgdf img {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}

.fgnhfgh {
  text-align: center;
}

.fgnhfgh h2 {
  color: #000;
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 35px;
}

.xfdjgdfgdfg {
  width: 100%;
  height: 500px;
  margin-top: 80px;
}

.gfjhfgjfg {
  font-size: 50px;
  font-weight: 700;
  color: #000;
}

.hfg55543 {
  color: red;
}

.xfbxdfgsdf {
  width: 100%;
  padding: 20px 0;
}

.nhgf65dfgdf {
  width: 100%;
  height: 450px;
}

.nhgf65dfgdf img {
  width: 100%;
  height: 100%;
}

.dfdfdffd {
  width: 100%;
  height: 520px;
}

.dfdfdffd img {
  width: 100%;
  height: 100%;
}

.fvbhgfbfgvf5865 {
  width: 100%;
  padding: 40px 0;
  margin-top: 40px;
}

.sdfsdfsdfsd {
  width: 100%;
  height: 500px;
  background-size: 100% 100%;
}

.sdf58sdfs {
  width: 100%;
  text-align: center;
}

.sdf58sdfs h4 {
  color: black;
  font-size: 27px;
  font-weight: 700;
  padding-bottom: 45px;
  padding-top: 20px;
}

.dfgyhdfgdf {
  width: 100%;
  height: 400px;
  background-size: 100% 100%;
  padding: 25px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.dfgyhdfgdf span {
  background-color: #000;
  color: white;
  padding: 2px !important;
  font-weight: 500;
  font-size: 25px;
}

.dfgyhdfgdf h2 {
  padding-top: 6px;
  line-height: 50px;
}

.dftgh525 {
  font-size: 45px !important;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 2px !important;
  padding-top: 10px !important;
  margin-bottom: 0;
}

.dfdfsdf {
  margin-top: 200px;
}

.kdnfghdfsdf {
  width: 100%;
  padding: 40px 0;
}

.dfbgghdfdfgdf {
  width: 100%;
  padding: 40px 0;
}

.images img {
  width: 100%;
  height: 427px;
  -o-object-fit: cover;
     object-fit: cover;
}

.images .image {
  position: relative;
}

.images .first {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: z-index 0.5s ease, transform 0.6s ease;
}

.images .image:hover .first {
  z-index: 0;
  background-color: red;
}

.dfgjhbdfg {
  width: 100%;
}

.dbgdfhgv button {
  width: 100%;
  position: absolute;
  margin-top: -80px !important;
  height: 50px;
  border: 2px solid black;
  opacity: 0;
  font-weight: 600;
}

.dbgdfhgv button:hover {
  background-color: #000;
  color: white;
  font-weight: 600;
  opacity: 1;
}

.dfgjhbdfg:hover .dbgdfhgv button {
  opacity: 1;
  transition: 0.5s;
}

.djhdf i {
  padding: 10px;
  color: #000;
  background-color: #fff;
  border-radius: 50px;
}

.xbjhdfvds55 {
  position: absolute;
  margin-top: -400px;
  right: 30px;
}

.djhdf {
  display: flex;
  align-items: baseline;
}

.djhdf p {
  color: #000;
  font-weight: 600;
  padding: 10px;
  background-color: #fff;
  border-radius: 25px;
  opacity: 0;
  width: 1px;
}

.djhdf :hover {
  opacity: 1;
  transition: 0.5s;
  width: auto;
}

.idnjewihrwerwer {
  top: 5%;
  right: 0;
  left: 0;
  justify-content: end;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: inline-flex;
}

.idnjewihrwerwer .sdvefrvdertrt {
  visibility: hidden;
  opacity: 0;
  right: 15%;
  z-index: -999;
  transition: 0.3s ease-in-out;
}

.idnjewihrwerwer:hover .sdvefrvdertrt {
  visibility: visible;
  opacity: 1;
  z-index: 999;
  transition: 0.3s ease-in-out;
}

.dieuwhkrwehuirwer {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: 1px solid #d3d3d3;
  cursor: pointer;
  right: 2%;
}

.dieuwhkrwehuirwer i {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fdbdfgdfgdf {
  text-align: center;
  padding: 10px;
}

.fdbdfgdfgdf h6 {
  color: var(--text-gray-color);
  font-size: 15px !important;
  font-weight: 500;
}

.fdbdfgdfgdf h4 {
  font-size: 19px !important;
  font-weight: 400;
}

.fdbdfgdfgdf h5 {
  color: #000;
  font-weight: 700;
}

.dsgdfgsdf label img {
  margin: 3px;
  padding: 2px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.dsgdfgsdf .selection-group input[type=radio] {
  display: none;
}

.dsgdfgsdf .selection-group input[type=radio]:checked + label img {
  /*   background: orange; */
  border-radius: 50px;
  border: 1px solid rgb(59, 65, 67);
}

.dsgdfgsdf {
  text-align: center;
}

.dsgdfgsdf P {
  color: var(--text-gray-color);
  font-size: 14px;
  padding-top: 10px;
}

.yudfdfgdfbgdfgdffgfg {
  width: 100%;
  padding: 40px 0;
}

.fgnjhdf h6 {
  color: #bc3d19;
  font-size: 16px;
  font-weight: 500;
}

.dfghdfg654 h6 {
  margin-top: 35px;
  font-size: 14px;
  font-weight: 600;
}

.dfghdfg654 p {
  font-size: 13px;
  color: var(--text-gray-color);
}

.fbgdfgd a {
  padding-right: 5px;
  padding-left: 5px;
  color: var(--text-gray-color);
  border-right: 1px solid var(--text-gray-color);
  height: 8px;
  padding-bottom: 5px;
  font-size: 13px !important;
}

.fbgdfgd a:hover {
  color: rgb(0, 0, 0);
}

.kdfbhjgdfg65468546 {
  margin-top: 30px;
}

.fbgfd h6 {
  font-size: 15px;
}/*# sourceMappingURL=Home.css.map */